<!DOCTYPE html>
<html>
<title>proyecto_ml</title>
<head>

<link rel="stylesheet"  href="/css/home.css"/>
<link rel="preconnect" href="https://fonts.gstatic.com"/>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet"/> 
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/81a5be0e19.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>  

    <body>
        
        <header>
       
            <div class="cabecera">

                        <img src= "/images/logo-mercado-liebre.svg" class="logo-meli">

                        <div class="barra-busqueda" >Buscar productos, marcas</div>

         
                        <div class="search">
                        <i class="fas fa-search"></i>
                        </div>

                        <div class="banner-cuotas">
                        <i class="fas fa-hand-holding-usd"></i>
                        <a>Compra en cuotas y sin tarjeta de credito</a>
                         </div>
       
            </div>

            <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>

            <div class="main-navbar">

                    <ul class="left-navbar">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>   
        
                    <ul class="right-navbar">
                
                        <li><a href="register">Crea tu cuenta</a><i class="far fa-address-card"></i></li>
                        <li><a href="login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                        <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                    </ul>
                </div>
            </div>
        

        
        </header>
    
        <main>
                        <img src= "/images/img-home-banner.jpg" class="banner-meli">


                         <h2>Basado en tu última visita</h2></li>
                
                        
            <section>


                <article>
                    <img src="/images/img-cafetera-moulinex.jpg">
                    <div class="texto-art">
                        <i class="fas fa-truck"></i> 
                        <a class="precio">Precio:$ 6.770</a>
                        <a class="descuento">40% OFF</a>
                        <p class="descripciones"> Cafetera Moulinex</p>
                    </div>
                </article>
                    

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg">
                        <div class="texto-art">
                        <i class="fas fa-truck"></i> 
                        <a class="precio">Precio:$ 230.000</a>
                        <a class="descuento">20% OFF</a>
                        <p class="descripciones">Mack Book Pro 2019</p>
                    </div>
                </article>
           
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg">
                        <div class="texto-art">
                        <div class="textos-art">
                        <i class="fas fa-truck"></i> 
                        <a class="precio">Precio:$ 70.500</a>
                        <a class="descuento">10% OFF</a>
                        <p class="descripciones">Samsung Galaxy S10</p>
                    </div>
                </article>
        

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg">
                        <div class="texto-art">
                        <i class="fas fa-truck"></i> 
                        <a class="precio">Precio:$ 23.200</a>
                        <a class="descuento">5% OFF</a>
                        <p class="descripciones">SmartTV Samsung 43¨</p>
                        </div>
                </article>
            
            </section>
           

        </main>

    

            
     

        <footer class="Pie">
                <ul class="pie1">
                    <i class ="icon"><i class="fas fa-credit-card"></i></i>
                    <li><h2>Pagá con tarjeta o en efectivo</h2></li>
                    <a>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</a>
                    
                </ul>
                
                <ul class="pie2">
                    <i class ="icon"><i class="fas fa-gift"></i></i>
                    <li><h2>Envío gratis desde $ 2.500</h2></li>
                    <a>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</a>
                        
                    </ul>
                    
                    <ul class="pie3"> 
                        <i class ="icon"><i class="fas fa-user-shield"></i></i>
                        <li><h2>Seguridad, de principio a fin</h2></li>
                        <a>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</a>

                        </ul>
                           
             <h4 class="pie4">  Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>


         </footer> 
                        
                  

     </body>
                        
                        

</html> 